<div class="container">
  <div class="row text-center">
    <h2>Edit time-line #{{ data.index }}</h2>
  </div>
  <div class="row text-center">
    <form [formGroup]="timelineEditForm" (ngSubmit)="onSubmit()">
      <div class="col form-group form-control-lg">
        <label for="start">Start year</label>
        <input
          id="start"
          class="form-control"
          type="month"
          formControlName="start"
        />
      </div>
      <div class="col form-group form-control-lg">
        <label for="end">End year</label>
        <input
          id="end"
          class="form-control"
          type="month"
          formControlName="end"
        />
      </div>
      <div class="col form-group form-control-lg">
        <label for="label">Label</label>
        <input
          id="label"
          class="form-control"
          type="text"
          formControlName="label"
        />
      </div>

      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-secondary btn-lg mt-3"
            type="submit"
          >
            Edit time-line
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-outline-secondary btn-lg mt-3"
            (click)="close()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
